In [1]:
import pandas as pd 
import datetime
import re

In [9]:
df = pd.read_csv('cali_powerplant_out.csv')
df2 = pd.read_csv("NRI_out.csv")
df3 = pd.read_excel("Disaster_List.xls")

In [3]:
for dt in df3['DATE OF DISASTER']:
    date_format = "%Y-%m-%d %H:%M:%S"
    date_object = dt.to_pydatetime()

In [8]:
# Parse the Counties
california_counties = [
    "Alameda", "Alpine", "Amador", "Butte", "Calaveras", "Colusa", "Contra Costa",
    "Del Norte", "El Dorado", "Fresno", "Glenn", "Humboldt", "Imperial", "Inyo",
    "Kern", "Kings", "Lake", "Lassen", "Los Angeles", "Madera", "Marin", "Mariposa",
    "Mendocino", "Merced", "Modoc", "Mono", "Monterey", "Napa", "Nevada", "Orange",
    "Placer", "Plumas", "Riverside", "Sacramento", "San Benito", "San Bernardino",
    "San Diego", "San Francisco", "San Joaquin", "San Luis Obispo", "San Mateo",
    "Santa Barbara", "Santa Clara", "Santa Cruz", "Shasta", "Sierra", "Siskiyou",
    "Solano", "Sonoma", "Stanislaus", "Sutter", "Tehama", "Trinity", "Tulare",
    "Tuolumne", "Ventura", "Yolo", "Yuba"
]

df2["DISASTER"] = ""
df2["DISASTER_DATE"] = ""

for index, row in df3.iterrows():
    # Creating list for all counties involved in the disaster
    county = row["COUNTIES INVOLVED"]

    county = re.split(r',|and', county)
    county = [item.strip() for item in county if item.strip()]
    if county == ["All 58 counties"]:
        county = california_counties

    for cty in county:
        matching_rows = df2.loc[df2["COUNTY"] == cty]
 
        df2.loc[matching_rows.index, "DISASTER"] += str(row["TYPE OF DISASTER"]) + ", "
        df2.loc[matching_rows.index, "DISASTER_DATE"] += str(row["DATE OF DISASTER"]) + ', '
        
df2.head();

In [10]:
df2['PlantName'] = ""
df2['Capacity'] = ""

for index, row in df.iterrows():
    if row['County']
df.head()

,X,Y,OBJECTID,CECPlantID,PlantName,County,Capacity_Latest,StartDate
0,-119.567893,36.137170,1865,S0335,Corcoran 2 Solar LLC CED,Kings,19.8,2015/06/10 00:00:00+00
1,-119.579712,36.144319,1866,S0520,Corcoran 3 Solar,Kings,20.0,2016/02/11 00:00:00+00
2,-119.128325,36.266298,1869,S0608,Exeter Solar,Tulare,3.5,2014/02/12 00:00:00+00
3,-119.134000,36.211778,1870,S0609,Lindsay Solar,Tulare,4.0,2014/01/15 00:00:00+00
4,-119.039944,36.103717,1871,S9325,ImModo California 1 LLC_(East Orosi 1),Tulare,1.5,2013/12/31 00:00:00+00