In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cali_powerplant_out.csv')
df.head()

,X,Y,OBJECTID,CECPlantID,PlantName,County,Capacity_Latest,StartDate
0,-119.567893,36.137170,1865,S0335,Corcoran 2 Solar LLC CED,Kings,19.8,2015/06/10 00:00:00+00
1,-119.579712,36.144319,1866,S0520,Corcoran 3 Solar,Kings,20.0,2016/02/11 00:00:00+00
2,-119.128325,36.266298,1869,S0608,Exeter Solar,Tulare,3.5,2014/02/12 00:00:00+00
3,-119.134000,36.211778,1870,S0609,Lindsay Solar,Tulare,4.0,2014/01/15 00:00:00+00
4,-119.039944,36.103717,1871,S9325,ImModo California 1 LLC_(East Orosi 1),Tulare,1.5,2013/12/31 00:00:00+00

In [20]:
grouped = df.groupby('County')

counties = grouped.groups.keys()

Alameda
Amador
Butte
Calaveras
Clark
Contra Costa
Fresno
Glenn
Humboldt
Imperial
Kern
Kings
Lake
Lassen
Los Angeles
Madera
Maricopa
Marin
Mendocino
Merced
Monterey
Napa
Orange
Placer
Riverside
Sacramento
San Benito
San Bernardino
San Diego
San Francisco
San Joaquin
San Luis Obispo
Santa Barbara
Santa Clara
Santa Cruz
Shasta
Solano
Sonoma
Stanislaus
Sutter
Tehama
Tulare
Tuolumne
Ventura
Yolo
Yuba
Yuma